
h1 {
	margin-top:10px;
}

form {
	margin: 0;
}

table {
	margin-top:10px; 
	text-align:center;
}

th {
	text-align:center;
}

form select#players.form-control {
     width: 30%;
     height: 50%
}

form select#pairs.form-control {
     width: 40%;
     height: 50%
}


.navbar-default {
	margin:0;
}

.navbar-inner {
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
}

.dropdown-toggle {
    cursor: pointer;
}

.playerselect{
	float:right;
	margin:10px;
}

.content{
	margin-left: 10px;
	margin-right: 10px;
}
