{% extends "base.html" %}
{% block content %}

    <div class="playerselect">Player:

      <select id="player"> 
        <option  value="">All</option>
      {% for player in players %}
        <option  value="{{player.name}}" {% if player.name == currentPlayer.name %} Selected{% endif %}>{{player.name}}</option>
      {% endfor %}                             
      </select>

    </div>

    <table id="main_table" class="table table-striped table-bordered">

      <thead>
        <tr>
          <th class="col-sm-1">Tournament Number</th>
          <th class="col-sm-3">Tournament Name</th>
          <th class="col-sm-2">Set</th>
          <th class="col-sm-2">Date</th>
          <th>Player</th>
          <th>Score</th>
          <th>Player</th>
        </tr>
      </thead>

      <tbody>
      {% for match in matches %}     
        <tr>
          <td>{{match.tournament.id}}</td>
          <td><a href="{{ url_for('viewTournamentResults', id = match.tournament.id) }}">{{match.tournament.name}} {% if match.tournament.tournamentType.description == 'Two Headed Giant' %} [2HG] {% endif %}</a></td>       
          <td>{{match.tournament.tournamentSet.name}}</td>
          <td>{{match.tournament.date.strftime('%d/%m/%y')}}</td>

            {% if playerInParticipantOne(currentPlayer, match) %}
              
                <td>{% for player in match.participants[1].entity.participants %}{%- if loop.index > 1 %} & {% endif %}{{player.player.name}}{% endfor %}</td>

                <td>
                    <form action="" method="POST">
                      <select name="score" onchange="this.form.submit()"> 
                        {% for i in range(match.tournament.tournamentType.game_wins_required + 1) %}
                          {% for j in range(match.tournament.tournamentType.game_wins_required + 1) %}
                          {% if not (i == match.tournament.tournamentType.game_wins_required and j == match.tournament.tournamentType.game_wins_required) %}<option value="{{i}}{{j}}  {{match.tournament.tournamentType.game_wins_required }} K" {% if match.participants[1].game_wins == i and match.participants[0].game_wins == j %}Selected{% endif %}>{{i}} - {{j}}</option>{% endif %}
                          {% endfor %}
                        {% endfor %}
             
                      </select>
                      <input type="hidden" name="player_one_id" value="{{match.participants[1].entity_id}}">
                      <input type="hidden" name="player_two_id" value="{{match.participants[0].entity_id}}">
                      <input type="hidden" name="match_id" value="{{match.id}}">
                    </form>
                </td>
                <td>{% for player in match.participants[0].entity.participants %}{%- if loop.index > 1 %} & {% endif %}{{player.player.name}}{% endfor %}</td>

            {% else %}

                <td>{% for player in match.participants[0].entity.participants %}{%- if loop.index > 1 %} & {% endif %}{{player.player.name}}{% endfor %}</td>
                <td>
                    <form action="" method="POST">
                      <select name="score" onchange="this.form.submit()"> 
                        {% for i in range(match.tournament.tournamentType.game_wins_required + 1) %}
                          {% for j in range(match.tournament.tournamentType.game_wins_required + 1) %}
                          {% if not (i == match.tournament.tournamentType.game_wins_required and j == match.tournament.tournamentType.game_wins_required) %}<option value="{{i}}{{j}}" {% if match.participants[0].game_wins == i and match.participants[1].game_wins == j %}Selected{% endif %}>{{i}} - {{j}} </option>{% endif %}
                          {% endfor %}
                        {% endfor %}        
                      </select>
                      <input type="hidden" name="player_one_id" value="{{match.participants[0].entity_id}}">
                      <input type="hidden" name="player_two_id" value="{{match.participants[1].entity_id}}">
                      <input type="hidden" name="match_id" value="{{match.id}}">
                    </form>
                </td>
                <td>{% for player in match.participants[1].entity.participants %}{%- if loop.index > 1 %} & {% endif %}{{player.player.name}}{% endfor %}</td>

            {% endif %}

        </tr>
	    {% else %}
      <tr>
          <td>No matches left to play</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      {% endfor %}
    </tbody>

    </table>	

    <script>

        $.fn.dataTableExt.afnFiltering.push(
        function( oSettings, aData, iDataIndex ) {
          var iplayer = document.getElementById('player').value.toUpperCase();
          var player_one = aData[4].toUpperCase();
          var player_two = aData[6].toUpperCase();

          if ( player_one.indexOf(iplayer) != -1 || iplayer == "")
          {
            return true;
          }
          else if ( player_two.indexOf(iplayer) != -1 )
          {
            return true;
          }

          return false;
        }
      );

        $(document).ready(function() {
            var oTable = $('#main_table').dataTable({
                                                    "sDom": '<"top"i>rt<"bottom"lp><"clear">',
                                                    "bPaginate": false,
                                                    "bLengthChange": false,
                                                    "bSort": false, 
                                                   })

            $('#player').change( function() { oTable.fnDraw(); } );

        } );

    </script>

{% endblock %}